// @media screen and (min-width: 480px) {
    .nolink {
        /* komponenty */
        text-decoration: none;
        position: relative;
    }
    .nolink-line::after {
        /* komponenty */
        content:"";
        position: absolute;
        background-color: var(--color-blue);
        left: 0;
        width: 100%;
        height: 4px;
        bottom: -32px;
    
    }
    .headcont {
        /* background-color: aqua; */
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom: solid 1px rgba(236, 236, 236, 1);
        
    }
    .headdiv {
        // background-color: limegreen;
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
    }
    
    .headdiv__nav1-list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 46px;
        text-decoration: none;
    }
    
    .headdiv__nav1 {
        /* modyfikator */
        display: flex;
        align-items: center;
        /* flex-direction: row; */
        /* align-items: baseline; */
        gap: 93px;
        
    }
    .headdiv__div2 {
        // visibility: hidden;
    }
    .headdiv__nav2 {
        /* modyfikator */
        /* background-color: darkslateblue; */
        
    }
    .headdiv__nav2-list {
        /* background-color: cornsilk; */
        /* display: flex; */
        // gap: 10px;
        // justify-content: center;
        /* display: flex;
        display: inline-flex;
        justify-content: center;
        align-items: center; 
        margin-right: 10px; */
        
    }
    .headdiv__nav2-listelement {
        /* background-color: blue; */
        /* display: flex; */
        /* align-items: center; */
    }
    .headdiv__nav2-svg { 
        margin-right: 10px;
        fill: #757575;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .headdiv__nav2-svg:hover{
        cursor: pointer; 
        fill: #2196F3;
        
    }
    .logoup {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.03rem;
        display: flex;
    }
    
    .logoup11 {
        color: #2196F3;
    }
    .logoup12 {
        color: #000000;
    }
    .logoup2 {
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.875px;
        /* line-height: 16px; */
        letter-spacing: 0.02em;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // display: none;
        // visibility: hidden;
    }
    .logoup3 {
        /* background-color: darkgoldenrod; */
        color: #757575;
        font-size: 500;
        font-size: 14px;
        line-height: 0.875;
        /* line-height: 16px; */
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .logoup2:hover {
        color: #2196F3;
        
    }
    .logoup3:hover {
        color: #2196F3;
        /* transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    }

    .menu-toggle {
        background-color: #fff;
        border: none;
    }
    



// }
@media screen and (max-width:767px) {
    .logoup2 {
        display: none;
    }
    .headdiv__div2 {
        display: none;
    }
    
}
@media screen and (min-width: 768px) {
    .headdiv__div2 {
        // visibility: visible;
    }
    .logoup2 {
        // visibility: visible;
    }
    .headdiv__nav2 {
        // background-color: beige;

    }
    .headdiv__nav2-list {
        // background-color: aqua;
        // list-style: none;
        // padding: 0;
        
        

        // gap: 10px;
        // flex-direction: column;
        
        
        // align-items: center;
        
        // flex-wrap: wrap;
        // flex-direction: column;
        // flex-wrap: wrap;
        
        
        
        // display: inline;
        // flex-wrap: wrap;
    }
    // .headdiv__nav2-list :nth-child(2) {
    //     margin-top: 10px;
    // }


    .headdiv__nav2-listelement {
        // background-color:cadetblue ;
        // display: flex;
        // gap: 10px;
        
    }
    .headdiv__div3 {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .headdiv__nav2-list {
        list-style: none;
        padding: 0;
        margin: 0;
   
    }
    // .headdiv__nav2-list :nth-child(2) {
    //     margin-top: 10px;
    // }
    .headdiv__nav2-listelement {
        margin-top: 10px;
    }
    
}


@media screen and (min-width: 1200px) {
    .nolink {
        /* komponenty */
        text-decoration: none;
        position: relative;
    }
    .nolink-line::after {
        /* komponenty */
        content:"";
        position: absolute;
        background-color: var(--color-blue);
        left: 0;
        width: 100%;
        height: 4px;
        bottom: -32px;
    
    }
    .headcont {
        /* background-color: aqua; */
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom: solid 1px rgba(236, 236, 236, 1);
        
    }
    .headdiv {
        /* background-color: limegreen; */
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
    }
    
    .headdiv__nav1-list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 46px;
        text-decoration: none;
    }
    
    .headdiv__nav1 {
        /* modyfikator */
        display: flex;
        align-items: center;
        /* flex-direction: row; */
        /* align-items: baseline; */
        gap: 93px;
        
    }
    .headdiv__div2 {
        // visibility: visible;
        display: flex;
        // justify-content: center;
        align-items: center;
    }
    .headdiv__nav2 {
        /* modyfikator */
        /* background-color: darkslateblue; */
        
    }
    .headdiv__nav2-list {
        /* background-color: cornsilk; */
        list-style: none;
        padding: 0;
        display: flex;
        gap: 30px;
        text-decoration: none;
        margin: 0;
        /* display: flex; */
        // justify-content: center;
        // flex-direction: row;
        /* display: flex;
        display: inline-flex;
        justify-content: center;
        align-items: center; 
        margin-right: 10px; */
    }
    .headdiv__nav2-listelement {
        /* background-color: blue; */
        /* display: flex; */
        /* align-items: center; */
    }
    .headdiv__nav2-svg { 
        margin-right: 10px;
        fill: #757575;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .headdiv__nav2-svg:hover{
        cursor: pointer; 
        fill: #2196F3;
        
    }
    .logoup {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.03rem;
        display: flex;
    }
    
    .logoup11 {
        color: #2196F3;
    }
    .logoup12 {
        color: #000000;
    }
    .logoup2 {
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.875px;
        /* line-height: 16px; */
        letter-spacing: 0.02em;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // visibility:visible;
    }
    .logoup3 {
        /* background-color: darkgoldenrod; */
        color: #757575;
        font-size: 500;
        font-size: 14px;
        line-height: 0.875;
        /* line-height: 16px; */
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .logoup2:hover {
        color: #2196F3;
        
    }
    .logoup3:hover {
        color: #2196F3;
        /* transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    }
    
}

