
// @media screen and (min-width: 480px) {
    .customers {
        font-family: 'Roboto', sans-serif;
        /* height: 350px; */
        display: flex;
        align-items: center;
    }
    .customers__div {
        text-align: center;
        margin: 94px 0;
        
    }
    .customers__div-h2 {
        font-size: 36px;
    }
    .customers__div-list {
        list-style: none;
        padding: 0;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .customers__list-element {
        border:1px solid #AFB1B8;
        fill: #AFB1B8;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }
    .customers__list-element:hover {
        border: solid 1px #2196F3;
        fill: var(--color-blue);
    }
// }



@media screen and (max-width: 767px) {
    .customers__list-element {
        width: 210px;
    }
}


@media screen and (min-width:768px) and (max-width: 1199px) {
    .customers__list-element {
        width: 226px;
    }
        
    
}
@media screen and (min-width:1200px) {
    .customers {
        justify-content: center;
    }

    .customers__div-list {
        gap: 0;
        justify-content: space-between;
    }

}