@media screen and (min-width: 480px) {
    .skills {
        /* background-color: beige; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 94px;
        /* margin-bottom: 94px; */
    }
    .skills__div {
        font-family: 'Roboto', sans-serif;
        display: flex;
        text-align: center;
        align-items: center;
        /* display: block; */
        
    }
    .skills__div-h2 {
        display: none;
    
    }
    .skills__div-list {
        /* background-color: #486548; */
        list-style: none;
        // display: flex;
        // flex-wrap: wrap;
        padding: 0;
        // gap: 30px;
        // max-width: 450px;
    }
    
    .skills__box {
        /* background-color: #254721; */
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 450px;
        // height: 120px;
        background: #F5F4FA;
        border-radius: 4px;
    }
    .skills__box-h3 {
        color: #212121;
        font-size:14px;
        line-height: 0.875;
        /* line-height: 16px; */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        /* margin-block-end: 10px; */
    }
    .skills__box-p {
        color: #757575;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-align: justify;
    
    }
}

@media screen and (max-width: 767px) {
    .skills__box {
        width: 450px;
        height: 120px;
        
    }
        
    
}
@media screen and (min-width: 768px) {
    .skills__div {
        // text-align: left;
        // width: (100%/2);
        // display: flex;
        // // flex-direction: column;
        // // flex-direction: calc(100%/2);
        // flex-wrap: wrap;
    }
    .skills__div-list-element {
        // display: flex;
        // flex-direction: row;
        // // flex-direction: calc(100%/2);
        // max-width: 50%;
        // flex-wrap: wrap;
    }
    .skills__div-list {
        // max-width: 354px;
        text-align: justify;
    

        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
        // flex-direction: calc(100%/2);
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    .skills__box {
        width: 354px;
        height: 120px;
    }
    .skills__div-list {
        max-width: 354px;
    }
        
    
}

@media screen and (min-width: 1200px) {
    .skills {
        /* background-color: beige; */
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // margin-top: 94px;
        // /* margin-bottom: 94px; */
    }
    .skills__div {
        // font-family: 'Roboto', sans-serif;
        /* display: block; */
        
    }
    .skills__div-h2 {
        // display: none;
    
    }
    .skills__div-list {
        /* background-color: #486548; */
        // list-style: none;
        display: flex;
        // padding: 0;
        // gap: 30px;
    }
    
    .skills__box {
        /* background-color: #254721; */
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 270px;
        height: 120px;
        // background: #F5F4FA;
        // border-radius: 4px;
    }
    .skills__box-h3 {
        // color: #212121;
        // font-size:14px;
        // line-height: 0.875;
        /* line-height: 16px; */
        // letter-spacing: 0.03em;
        // text-transform: uppercase;
        /* margin-block-end: 10px; */
    }
    .skills__box-p {
        // color: #757575;
        // font-size: 14px;
        // letter-spacing: 0.03em;
    
    }    
}

